<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.barloweanalytics.paper-trades-daily</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/matthewbarlowe/code/python/mlb/scripts/run_daily_paper_pipeline.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/matthewbarlowe/code/python/mlb</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>HOME</key>
		<string>/Users/matthewbarlowe</string>
	</dict>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/Users/matthewbarlowe/.mlb/paper_trades.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/matthewbarlowe/.mlb/paper_trades.err</string>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
